<div id="<%= dom_id plano %>">
  <p>
    <strong>Name:</strong>
    <%= plano.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= plano.status %>
  </p>

</div>
 <style>
   body { margin: 2%; }
</style>