<div class="form-box login-register-form-element">
        <!-- FORM BOX DECORATION -->
        
        <!-- /FORM BOX DECORATION -->

        <!-- FORM BOX TITLE -->
        <h2 class="form-box-title">Painel de Alteração de Senha</h2>
        <!-- /FORM BOX TITLE -->
    
        <!-- FORM -->
        <%= form_for @user do |f| %>
          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input">
              <span>Password :<span>
              <%= f.password_field :password, :autocomplete => "off"  %>
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->
    
          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input">
              <span>Password Confirmação:<span>
              <%= f.password_field :password_confirmation %>
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->
    

    
          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="action_container">
              <!-- BUTTON -->
              <%= f.submit "Alterar a Senha", class:"btn-secondary border-0 shadow py-1 px-3" %>&nbsp;&nbsp;
              <!-- /BUTTON -->
            </div>
            <div class="action_container">
              <!-- BUTTON -->
              <button onclick="history.back()">Voltar</button>
              <!-- /BUTTON -->
            </div>            
            
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->
         <%end%>
        <!-- /FORM -->





</div>




     