<div class="form-box login-register-form-element">
        <!-- FORM BOX DECORATION -->
        
        <!-- /FORM BOX DECORATION -->

        <!-- FORM BOX TITLE -->
        <h2 class="form-box-title">Painel de Alteração de Senha</h2>
        <!-- /FORM BOX TITLE -->
    
        <!-- FORM -->
        <%= form_for @user do |f| %>
          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input">
              <span>Senha:<span>
              <%= f.password_field :password, :autocomplete => "off", class: "form-control"  %>
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->
    
          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input">
              <span>Confirmação de senha:<span>
              <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->
    

    
          <!-- FORM ROW -->
          <div class="form-row">
            <div class="action_container">
              <!-- BUTTON -->
              <button class="button white px-3" onclick="history.back()">Voltar</button>
              <!-- /BUTTON -->
            </div>    
            <!-- FORM ITEM -->
            <div class="action_container">
              <!-- BUTTON -->
              <%= f.button "Alterar a Senha", type: "submit", :class=> "button primary ml-3", style: "width: 150px;" %>
              <!-- /BUTTON -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->
         <%end%>
        <!-- /FORM -->





</div>




     