<!-- Edit Textos Form -->
<%= render 'form' %>
<div class="d-flex justify-content-center">
<%= button_to "Listar Textos", textos_path,method: :get ,class:"btn-primary border-0 rounded-pill shadow p-2 m-2" %>  &nbsp; &nbsp;      
<%if current_user.present? %>      
 <%= button_to "Início", "/home/index",method: :get ,class:"btn-primary border-0 rounded-pill shadow p-2 m-2" %>
<%elsif current_admin.present? %>      
<%= button_to "Início", "/homea/index",method: :get ,class:"btn-primary border-0 rounded-pill shadow p-2 m-2" %>
<%end%> 
</div>
