<%= render "shared/header-new" %>
<style>
  .icon {
    fill: black !important;
    width: 20px !important;
    height: 20px !important;
  }

</style>
<div class="content-grid">
    <div style="fill: black !important">
    <svg class="icon icon-comment">
        <use xlink:href="#svg-comment"></use>
    </svg>
    <svg class="icon icon-thumbs-up">
        <use xlink:href="#svg-thumbs-up"></use>
    </svg>
    <svg class="icon icon-friend">
        <use xlink:href="#svg-friend"></use>
    </svg>
    <svg class="icon icon-info">
        <use xlink:href="#svg-info"></use>
    </svg>
    <svg class="icon icon-group">
        <use xlink:href="#svg-group"></use>
    </svg>
    <svg class="icon icon-marketplace">
        <use xlink:href="#svg-marketplace"></use>
    </svg>
    <svg class="icon icon-add-friend">
        <use xlink:href="#svg-add-friend"></use>
    </svg>
    <svg class="icon icon-remove-friend">
        <use xlink:href="#svg-remove-friend"></use>
    </svg>
    <svg class="icon icon-delete">
        <use xlink:href="#svg-delete"></use>
    </svg>
    <svg class="icon icon-send-message">
        <use xlink:href="#svg-send-message"></use>
    </svg>
    <svg class="icon icon-settings">
        <use xlink:href="#svg-settings"></use>
    </svg>
    <svg class="icon icon-cross-thin">
        <use xlink:href="#svg-cross-thin"></use>
    </svg>
    <svg class="icon icon-newsfeed">
        <use xlink:href="#svg-newsfeed"></use>
    </svg>
    <svg class="icon icon-overview">
        <use xlink:href="#svg-overview"></use>
    </svg>
    <svg class="icon icon-members">
        <use xlink:href="#svg-members"></use>
    </svg>
    <svg class="icon icon-badges">
        <use xlink:href="#svg-badges"></use>
    </svg>
    <svg class="icon icon-quests">
        <use xlink:href="#svg-quests"></use>
    </svg>
    <svg class="icon icon-streams">
        <use xlink:href="#svg-streams"></use>
    </svg>
    <svg class="icon icon-events">
        <use xlink:href="#svg-events"></use>
    </svg>
    <svg class="icon icon-events-monthly">
        <use xlink:href="#svg-events-monthly"></use>
    </svg>
    <svg class="icon icon-events-weekly">
        <use xlink:href="#svg-events-weekly"></use>
    </svg>
    <svg class="icon icon-events-daily">
        <use xlink:href="#svg-events-daily"></use>
    </svg>
    <svg class="icon icon-pin">
        <use xlink:href="#svg-pin"></use>
    </svg>
    <svg class="icon icon-ticket">
        <use xlink:href="#svg-ticket"></use>
    </svg>
    <svg class="icon icon-forums">
        <use xlink:href="#svg-forums"></use>
    </svg>
    <svg class="icon icon-profile">
        <use xlink:href="#svg-profile"></use>
    </svg>
    <svg class="icon icon-timeline">
        <use xlink:href="#svg-timeline"></use>
    </svg>
    <svg class="icon icon-photos">
        <use xlink:href="#svg-photos"></use>
    </svg>
    <svg class="icon icon-videos">
        <use xlink:href="#svg-videos"></use>
    </svg>
    <svg class="icon icon-blog-posts">
        <use xlink:href="#svg-blog-posts"></use>
    </svg>
    <svg class="icon icon-forum">
        <use xlink:href="#svg-forum"></use>
    </svg>
    <svg class="icon icon-store">
        <use xlink:href="#svg-store"></use>
    </svg>
    <svg class="icon icon-share">
        <use xlink:href="#svg-share"></use>
    </svg>
    <svg class="icon icon-pinned">
        <use xlink:href="#svg-pinned"></use>
    </svg>
    <svg class="icon icon-status">
        <use xlink:href="#svg-status"></use>
    </svg>
    <svg class="icon icon-big-grid-view">
        <use xlink:href="#svg-big-grid-view"></use>
    </svg>
    <svg class="icon icon-small-grid-view">
        <use xlink:href="#svg-small-grid-view"></use>
    </svg>
    <svg class="icon icon-list-grid-view">
        <use xlink:href="#svg-list-grid-view"></use>
    </svg>
    <svg class="icon icon-poll">
        <use xlink:href="#svg-poll"></use>
    </svg>
    <svg class="icon icon-camera">
        <use xlink:href="#svg-camera"></use>
    </svg>
    <svg class="icon icon-gif">
        <use xlink:href="#svg-gif"></use>
    </svg>
    <svg class="icon icon-tags">
        <use xlink:href="#svg-tags"></use>
    </svg>
    <svg class="icon icon-trophy">
        <use xlink:href="#svg-trophy"></use>
    </svg>
    <svg class="icon icon-return">
        <use xlink:href="#svg-return"></use>
    </svg>
    <svg class="icon icon-clock">
        <use xlink:href="#svg-clock"></use>
    </svg>
    <svg class="icon icon-earnings">
        <use xlink:href="#svg-earnings"></use>
    </svg>
    <svg class="icon icon-wallet">
        <use xlink:href="#svg-wallet"></use>
    </svg>
    <svg class="icon icon-item">
        <use xlink:href="#svg-item"></use>
    </svg>
    <svg class="icon icon-revenue">
        <use xlink:href="#svg-revenue"></use>
    </svg>
    <svg class="icon icon-grid">
        <use xlink:href="#svg-grid"></use>
    </svg>
    <svg class="icon icon-magnifying-glass">
        <use xlink:href="#svg-magnifying-glass"></use>
    </svg>
    <svg class="icon icon-messages">
        <use xlink:href="#svg-messages"></use>
    </svg>
    <svg class="icon icon-shopping-bag">
        <use xlink:href="#svg-shopping-bag"></use>
    </svg>
    <svg class="icon icon-notification">
        <use xlink:href="#svg-notification"></use>
    </svg>
    <svg class="icon icon-plus">
        <use xlink:href="#svg-plus"></use>
    </svg>
    <svg class="icon icon-join-group">
        <use xlink:href="#svg-join-group"></use>
    </svg>
    <svg class="icon icon-leave-group">
        <use xlink:href="#svg-leave-group"></use>
    </svg>
    <svg class="icon icon-login">
        <use xlink:href="#svg-login"></use>
    </svg>
    <svg class="icon icon-back-arrow">
        <use xlink:href="#svg-back-arrow"></use>
    </svg>
    <svg class="icon icon-small-arrow">
        <use xlink:href="#svg-small-arrow"></use>
    </svg>
    <svg class="icon icon-big-arrow">
        <use xlink:href="#svg-big-arrow"></use>
    </svg>
    <svg class="icon icon-more-dots">
        <use xlink:href="#svg-more-dots"></use>
    </svg>
    <svg class="icon icon-star">
        <use xlink:href="#svg-star"></use>
    </svg>
    <svg class="icon icon-play">
        <use xlink:href="#svg-play"></use>
    </svg>
    <svg class="icon icon-plus-small">
        <use xlink:href="#svg-plus-small"></use>
    </svg>
    <svg class="icon icon-minus-small">
        <use xlink:href="#svg-minus-small"></use>
    </svg>
    <svg class="icon icon-quote">
        <use xlink:href="#svg-quote"></use>
    </svg>
    <svg class="icon icon-check">
        <use xlink:href="#svg-check"></use>
    </svg>
    <svg class="icon icon-logo-vikinger">
        <use xlink:href="#svg-logo-vikinger"></use>
    </svg>
    <svg class="icon icon-dots">
        <use xlink:href="#svg-dots"></use>
    </svg>
    <svg class="icon icon-public">
        <use xlink:href="#svg-public"></use>
    </svg>
    <svg class="icon icon-private">
        <use xlink:href="#svg-private"></use>
    </svg>
    </div>
</div>
<%= render "shared/footer-new" %>