<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/icps">Icps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/planos">Planos</a>
        </li>     
        <li class="nav-item">
          <a class="nav-link" href="/agendas">Agendas</a>
        </li>     
        <li class="nav-item">
          <a class="nav-link" href="/programasetorials">Programas Setoriais</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="/academies">Academy</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="/homea/users">Users</a>
        </li>                  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1>Homepage#index</h1>
<p>    <% if current_admin %>
        <h5><%= current_admin.email %></h5>
    <%end%></p>
<%=
    
            link_to('Sign out',  destroy_user_session_path,class: 'btn btn-danger m-5')
    
    %>
