<br>
<div>
    <table class="table table-info table-striped">
    <thead class="table-secondary">
       <tr>
         <th>nome</th>
         <th>status</th>
         <th>Quant Documentos</th>
         <th>Show</th>
       </tr>
     </thead>
     <tbody>
     <% @arquivos.each do |arquivo| %>
       <tr>
         <td><%= arquivo.name %></td>
         <td><%= arquivo.status %></td>
         <td><%= arquivo.images.count %></td>
         <td><%= link_to 'Show', arquivo, data: { turbo_frame: "_top" } %></td>
       </tr>
     <% end %>
     </tbody>
   </table>
    <br>    
</div>


