<h1>Editando Programa Setorial</h1>

<%= render "form", programasetorial: @programasetorial%>

<br>

<div>
  <%= link_to "Show this programasetorial", @programasetorial %> |
  <%= link_to "Back to programsetorials", programasetorials_path %>
</div>
